.list-group-item {
   border: 0px solid #ddd !important;
}

a {
    color: #353c42;
}

.label {
    font-size: 100% !important;
    line-height: 2 !important;
}

.text-muted {
    margin-top: -3px;
    margin-left: 181px;
}

.profile-username {
    margin-top: -79px;
    margin-left: 165px;
}

.profile-user-img {
    margin: 0px;
    width: 100px;
    padding: 0px;
    border: 1px solid #d2d6de;
    width: 142px;
}

.box-with-no-header .box-header {
   padding: 0px !important;
    
}

.box-with-no-header .box-header.with-border {
    border-bottom: 0px solid #f4f4f4 !important; 
}

.navbar-custom-menu{
    float: right !important;
    margin-right: 10px;
}